@font-face {
    font-family: 'Big Noodles';
    src: url('../assets/fonts/big_noodle_titling.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a {
    color: rgb(206, 10, 50);
    font-family: 'Big Noodles', sans-serif;
    font-size: 200%;
}

p {
    color: rgb(206, 10, 50);
    font-family: 'Big Noodles', sans-serif;
}

h1 {
    font-family: 'Big Noodles', sans-serif;
    color: rgb(206, 10, 50);
}

h2 {
    font-family: 'Big Noodles', sans-serif;
    color: rgb(206, 10, 50);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(30, 30, 30) !important;
    font-family: 'Big Noodles', sans-serif;
    color: rgb(206, 10, 50);
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.header,
#pageContent,
.page-list {
    flex-grow: 1;

}

footer {
    width: 100%;
    background-color: rgb(30, 30, 30);
    font-family: 'Big Noodles', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding: 15px 0;
    user-select: none;
    flex-shrink: 0; // ne pas rétrécir, rester visible en bas
    margin-top: 0; // supprime la marge qui casse le sticky footer
}

button {

    font-family: 'Big Noodles', sans-serif;
    color: rgb(206, 10, 50);
    border: 1px solid #ccc;
    border-radius: 12px;
}


.header {

    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    .nav {
        h1 {
            font-family: 'Big Noodles', sans-serif;
            color: rgb(206, 10, 50);
            margin: 5px 0;
            font-size: 100px;
            height: 100px;
        }

        h3 {
            font-family: 'Big Noodles', sans-serif;
            color: rgb(255, 255, 255);
            margin: 5px 0;
            font-size: 100px;
            height: 100px;
        }

        a {
            font-family: 'Big Noodles', sans-serif;
            margin-top: auto;
            color: rgb(206, 10, 50);
            text-decoration: none;
            font-weight: bold;
        }

        p {
            font-family: 'Big Noodles', sans-serif;
            color: rgb(255, 255, 255);
        }
    }

    .search-bar {
        display: flex;
        align-items: center;
        gap: 8px; // espace entre input et bouton
        width: 80%;
        max-width: 400px;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 12px;
        font-family: 'Montserrat', sans-serif;
        margin: 10px 0 20px;

        input[type="text"] {
            flex-grow: 1;
            padding: 8px 12px;
            font-size: 1rem;
            border: none;
            border-radius: 12px;
            outline: none;
            font-family: inherit;
        }

        button {
            padding: 8px 16px;
            font-family: 'Big Noodles', sans-serif;
            font-size: 1rem;
            color: rgb(206, 10, 50);
            background-color: transparent;
            border: 1px solid rgb(206, 10, 50);
            border-radius: 12px;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease;

            &:hover {
                background-color: rgb(206, 10, 50);
                color: white;
            }
        }
    }
}


.page-list {
    padding: 100px;

    .games {
        display: grid;
        grid-template-columns: repeat(3, minmax(34px, 1fr));
        gap: 30px;
        position: relative;
        overflow: visible;
        z-index: 1;
    }

    .card {
        background: rgba(54, 53, 53, 0.813);
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(52, 52, 52, 0.15);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 680px;
        transition: transform 0.3s ease, z-index 0.3s ease;
        position: relative;
        z-index: 1;
        transform-origin: center center;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.6s ease, transform 0.8s ease;
    }

    .card.visible {
        opacity: 1;
        transform: translateY(0);
    }


    .card:hover {
        transform: scale(1.2);
        z-index: 10;
    }

    .extra-info {
        font-size: 1.5rem;
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(0, 0, 0);
        color: #fff;
        padding: 10px;
        z-index: 11;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .card:hover .extra-info {
        display: block;
        opacity: 1;
    }

    .image {
        width: 100%;
        height: 550px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 20px;
    }

    .platform-icon {
        width: 24px;
        height: 24px;
        margin-right: 5px;
        vertical-align: middle;
    }

    .simple-rating {
        font-size: 1.5rem;
        color: rgb(206, 10, 50);
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: flex-end;
    }

    .average-rating {
        font-size: 2rem;
    }


    h1 {
        font-family: 'Big Noodles', sans-serif;
        color: rgb(255, 255, 255);
        margin: 5px 0;
        font-size: 3rem;
    }

    h2 {
        font-family: 'Big Noodles', sans-serif;
        color: rgb(255, 255, 255);
        margin: 5px 0;
        font-size: 100%;
    }

    a {
        margin-top: auto;
        color: rgb(206, 10, 50);
        text-decoration: none;
        font-weight: bold;
    }

    .show-more-btn {
        display: block;
        margin: 40px auto;
        padding: 20px 40px;
        font-size: 2rem;
        font-family: 'Big Noodles', sans-serif;
        color: rgb(206, 10, 50);
        background-color: transparent;
        border: 2px solid rgb(206, 10, 50);
        border-radius: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .show-more-btn:hover {
        background-color: rgb(206, 10, 50);
        color: white;
        transform: scale(1.05);
    }

    .dropdown-menu {
        position: relative;
        display: inline-block;
        font-family: 'Big Noodles', sans-serif;
    }



    .platform-select-wrapper {
        height: 200%;
        width: 200%;
        max-width: 450px;
        margin: 20px;
    }

    #platformSelect {
        width: 100%;
        padding: 8px 12px;
        font-size: 1.8rem;
        padding: 16px 20px;
        font-family: 'Big Noodles', sans-serif;
        color: rgb(206, 10, 50);
        background-color: #1e1e1e;
        border: 1.5px solid rgb(206, 10, 50);
        border-radius: 8px;
        appearance: none;
        cursor: pointer;
        transition: background-color 0.25s ease, color 0.25s ease;
        text-align: left;
    }

    #platformSelect:hover,
    #platformSelect:focus {
        background-color: rgb(206, 10, 50);
        color: white;
        outline: none;
    }

    #platformSelect option,
    #platformSelect optgroup {
        background-color: #1e1e1e;
        color: rgb(206, 10, 50);
        font-family: 'Big Noodles', sans-serif;
        font-size: 100%;
    }

    #platformSelect optgroup {
        color: white;
        font-style: normal;
        font-size: 90%;
    }

    .texte {
        font-size: 2rem;
        max-width: 1000px;
        font-family: 'Montserrat', sans-serif;
        color: white;
        line-height: 2.2;
        letter-spacing: 1px;
    }

    .texte h2 {
        font-family: 'Big Noodles', sans-serif;
        font-size: 5rem;
        color: rgb(255, 255, 255);
    }

    .texte p {
        font-size: 1.5rem;
        color: white;
    }
}

.page-detail {
    background-color: #121212;
    color: #f5f5f5;
    font-family: "Big Noodles", sans-serif;
    padding: 2rem;
    max-width: auto;
    margin: auto;
    margin-top: 100px;
    position: relative;

    a {
        color: rgb(255, 255, 255);
        font-family: 'Montserrat', sans-serif;
        font-size: 100%;
        text-decoration: none;
        cursor: pointer;
    }

    .platform-icon {
        cursor: pointer;
    }

    .article {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: #1e1e1e;
        padding: 2rem;
        border-radius: 12px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }

    .main-img {
        width: 100%;
        max-height: 1000px;
        object-fit: cover;
        object-position: top;
        border-radius: 8px;
        aspect-ratio: 16 / 9;
        position: relative;
    }

    .btn-website {
        background-color: rgb(206, 10, 50);
        ;
        font-size: 2rem;
        font-family: "Big Noodles", sans-serif !important;
        cursor: pointer;
        position: absolute; // pour pouvoir le superposer
        top: 950px; // ajuster la distance du haut
        right: 150px; // à droite de son conteneur parent positionné
        z-index: 5; // plus haut que l'image (qui a souvent un z-index de 1)
        padding: 10px 15px;
        border-radius: 8px;
        color: rgb(255, 255, 255);
        max-width: 300px;
        box-shadow: 0 0 10px rgba(206, 10, 50, 0.7);
    }



    .title-row {
        display: grid;
        font-size: 3rem;
        font-weight: bold;
        margin: 0.5rem 0;
        color: #fff;

        h1 {
            font-size: 4rem;
            color: white;
        }

        h3 {
            font-size: 1.5rem;
            color: rgb(206, 10, 50) !important;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }

    p {
        margin: 0.3rem 0;
        line-height: 1.6;
        color: white;
        font-family: "verdana", sans-serif, ;
        font-size: medium;
        font-style: normal;


        strong {
            color: #ccc;
        }

        span {
            color: #eee;
        }
    }

    .description {
        font-style: italic;
        color: #bbb;
    }

    .game-info {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
        gap: 1rem 2rem;
        margin-top: 1.5rem;

        .release-date {
            grid-area: 1 / 1 / 2 / 2;
        }

        .developers {
            grid-area: 1 / 2 / 2 / 3;
        }

        .platforms {
            grid-area: 1 / 3 / 2 / 4;
        }

        .publishers {
            grid-area: 1 / 4 / 2 / 5;
        }

        .genres {
            grid-area: 2 / 1 / 3 / 3;
        }

        .tags {
            grid-area: 2 / 3 / 3 / 4;
        }


        p {
            margin: 0;
            font-size: 0.95rem;
            color: #eee;

            strong {
                color: #ffffff;
                display: inline-block;
                min-width: 110px;
                display: inline-block;
            }

            span {
                color: #eee;
            }
        }
    }

    .buy .title strong {
        color: rgb(206, 10, 50) !important;
        font-family: "Big Noodles", sans-serif;
    }

    .buy span {
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.0rem;
        font-style: normal;
    }

    .screenshots-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top: 1rem;
    }

    .screenshot-img {
        width: 100%;
        max-width: 90vw;
        max-height: 80vh;
        border-radius: 6px;
        object-fit: cover;
        aspect-ratio: 16 / 9;
        transition: width 0.5s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .modal {
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        max-width: 90vw;
        max-height: 90vh;
        border-radius: 8px;
        box-shadow: 0 0 20px black;
    }

    .modal-close {
        position: fixed;
        top: 20px;
        right: 30px;
        font-size: 48px;
        color: white;
        cursor: pointer;
        user-select: none;
    }

    .carousel-btn {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(255, 255, 255, 0.3);
        border: none;
        font-size: 2rem;
        padding: 10px;
        cursor: pointer;
        color: #121212;
        border-radius: 50%;
        z-index: 1100;
        user-select: none;

        &:hover {
            background: rgba(255, 255, 255, 0.7);
        }
    }

    #prevBtn {
        left: 20px;
    }

    #nextBtn {
        right: 20px;
    }



    h2 {
        margin-top: 2rem;
        font-size: 1.5rem;
        border-bottom: 2px solid #333;
        padding-bottom: 0.5rem;
    }


    .video-thumbnails {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }

    .video-thumb {
        width: 200px;
        cursor: pointer;
        opacity: 0.7;
        border: 2px solid transparent;
        transition: opacity 0.3s, border-color 0.3s;
    }

    .video-thumb:hover {
        opacity: 1;
    }

    .video-thumb.active {
        border-color: #ff0000;
        /* par exemple rouge vif */
        opacity: 1;
    }

    .related-games {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 1.2rem;
        margin-top: 2rem;


        a {
            text-decoration: none !important;
            border-bottom: none !important; // au cas où c'est un soulignement par bordure
            color: inherit !important; // pour que la couleur soit héritée et pas rouge
            box-shadow: none !important;
            cursor: pointer;
        }

        .game-card {
            background: #121212;
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            cursor: pointer;
            transition: transform 0.25s ease, box-shadow 0.25s ease;

            img {
                width: 100%;
                height: 120px;
                object-fit: cover;
                display: block;
                border-bottom: 1px solid #ddd;
            }

            h3 {
                font-size: 1.1rem;
                margin: 0.5rem 1rem 0.3rem;
                color: #666;

            }

            p {
                font-size: 0.9rem;
                margin: 0 1rem 1rem;
                color: #333;
            }

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
            }
        }

        .show-more {
            grid-column: 1 / -1; // bouton sur toute la largeur
            padding: 0.6rem 1.2rem;
            font-size: 1rem;
            background-color: #774936; // ta couleur primaire
            color: rgb(0, 0, 0);
            border: none;
            border-radius: 6px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #722020;
            }
        }

    }

}